# Spotify API credentials
# Obtén las tuyas en: https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=tu_client_id_aqui
SPOTIFY_CLIENT_SECRET=tu_client_secret_aqui
SPOTIFY_REDIRECT_URI=http://localhost:8888/callback

# Configuración de extracción
DATA_RAW_PATH=data/raw
DATA_PROCESSED_PATH=data/processed
